// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article_title{
  text-decoration: none;
}
.new_article{
  text-decoration: none;
  color: purple;
}
